.masthead-container .masthead-wrapper {
  max-width: unset;
  padding: 0;
}

.masthead {
  position: relative;
  min-height: 300px;
}

.masthead h1 {
  max-width: 1200px;
  /* margin-left: auto; */
  margin-right: auto;
}

.masthead picture {
  position: relative;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.masthead img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.masthead a.button {
  background-color: var(--primary-color);
  border: solid 2px #09411d;
  border-radius: 4px;
  color: unset;
  font-style: unset;
  font-weight: unset;
  padding: 0.5em 0.5em;
}

.mobile-section {
  line-height: 0;
}

.desktop-section img {
  display: none;
}

.masthead .desc {
  background-color: #3d3d3b;
  color:  white;
}

.masthead h1 {
  margin-top: unset;
}

/* Desktop styles */
@media (width >=900px) {
  .masthead {
    padding: 40px 32px;
  }

  .mobile-section img {
    display: none;
  }

  .desktop-section img {
    display: block;
  }

  .masthead picture {
    position: absolute;
  }

  .masthead .desc {
    background-color: unset;
    color: black;
  }
}